.CardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}


@media screen and (max-width: 900px) {
    .CardContainer {
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }
}