.Card {
    min-width: 200px;
    max-width: 900px;
    margin: 15px 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    border-color: lightgray;
    overflow: hidden;
    overflow-x: hidden;
    background-color: white;
}

.Card img {
    width: 100%;
    /* Adjust ALT text so it does not get clipped by "overflow: hidden" */
    display: block;
    line-height: 50px;
    text-align: center;
}

.youtube-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.youtube-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.Card .CardText {
    padding: 15px;
    background-color: white;
}

.Card .cardTextHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Card .cardTextHeader p {
    text-align: right;
}

.Card h3 {
    font-weight: 500;
    font-size: 1.5rem;
    margin: 10px 0;
}

.Card p {
    font-size: 1rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}