@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 400;
  src: local("RedHatDisplay"),
  url('./assets/fonts/RedHatDisplay-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Red Hat Display';
  font-style: italic;
  font-weight: 400;
  src: local("RedHatDisplay"),
  url('./assets/fonts/RedHatDisplay-Italic.ttf') format("truetype");
}

@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: bold;
  src: local("RedHatDisplay"),
  url('./assets/fonts/RedHatDisplay-Bold.ttf') format("truetype");
}


.App {
  font-family: 'Red Hat Display', Courier, monospace;
}

